body{

  background-image: url(images/tlo.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  background-repeat: no-repeat;
}
.header,
.socialmediatop{
  text-align: center;
  background-color: #7e0505;
  color: #d2a10a;
  height: 100px;
}

.karuzela{
  margin-top: 30px;
}
.foot{
  text-align: center;
  background-color: #7e0505;
  margin-top: 50px;
  bottom: 0px;
}
