.btn{
  padding: 0;
  margin: 0;
  background-color:  #7e0505;
  height: 70px;
  text-align: left !important;
  color: #d2a10a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.btn:hover{
  background-color:  #d2a10a;
  color: #7e0505;
  transition: 0.3s;
}
.card{
  text-align: center;
}
.card-img-top{
  text-align: center;
  width: 100%;
}
h5{
  background-color: #7e0505;
  color: #d2a10a;
  padding: 10px 10px;
  border-radius: 15px;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s;
  text-align: center;
}
.sidenav button {
  max-height: 70px;
  max-width: 200px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  text-align: center;
}
/* TODO: Poprawa MENU wysuwanego
  Zrobienie nagłówka
  Edycja kart ( tło itp.) w index.html
  https://www.w3schools.com/howto/howto_js_navbar_shrink_scroll.asp
 */
.sidenav a:hover {
  color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
